<%= link_to "Add Teacher", new_teacher_path %>
<% @teachers.each do |teacher| %>
<p><%= "#{teacher.name}: #{teacher.subject}" %></p>
  <% teacher.students.each do |student| %>
    <p><%= "#{student.name}" %></p>
  <% end %>
  <h3>Age range</h3>
  <%= "#{teacher.students.minimum(:age)} - #{teacher.students.maximum(:age)}" %>
<% end %>
